# Logs & Temporary Files
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Dependency Directories
node_modules/
.pnpm-store/

# Production & Build Outputs
dist/
dist-ssr/
build/
*.tsbuildinfo

# Environment & Secret Files (SANGAT PENTING)
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.env.*
*.pem
*.key

# Supabase Local Development
supabase/.temp/
supabase/.branches/

# Editor & OS Files
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.DS_Store
Thumbs.dbgit reset HEAD~1